{% extends "base2.html" %}
{% load static %}


{% block content %}
    <!-- ============================================================== -->
    <!-- Top header  -->
    <!-- ============================================================== -->

    <!-- ============================ Dashboard: Dashboard Start ================================== -->
    <section class="gray pt-4">
        <div class="container-fluid">

            <div class="row">


                {% include "include/dashboard_navbar.html" %}


                <div class="col-lg-9 col-md-9 col-sm-12">

                    <!-- Row -->
                    <div class="row justify-content-between">
                        <div class="col-lg-12 col-md-12 col-sm-12 pb-4">
                            <div class="dashboard_wrap d-flex align-items-center justify-content-between">
                                <div class="arion">
                                    <nav class="transparent">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#">خانه</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">لیست مدیرها</li>
                                        </ol>
                                    </nav>
                                </div>
                                <div class="elkios">
                                    <a href="add-admin.html" class="add_new_btn"><i class="fas fa-plus-circle ml-1"></i>افزودن
                                        مدیر</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Row -->

                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="dashboard_wrap">

                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 mb-4">
                                        <h6 class="m-0">لیست مدیر</h6>
                                    </div>
                                </div>

                                <div class="row justify-content-between">
                                    <div class="col-xl-2 col-lg-3 col-md-6">
                                        <div class="form-group smalls row align-items-center">
                                            <label class="col-xl-3 col-lg-3 col-sm-2 col-form-label">نمایش</label>
                                            <div class="col-xl-9 col-lg-9 col-sm-10">
                                                <select id="show" class="form-control">
                                                    <option value="">&nbsp;</option>
                                                    <option value="1">10</option>
                                                    <option value="2">25</option>
                                                    <option value="3">35</option>
                                                    <option value="3">50</option>
                                                    <option value="3">100</option>
                                                    <option value="3">250</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-5 col-md-6">
                                        <div class="form-group smalls row align-items-center">
                                            <label class="col-xl-2 col-lg-2 col-sm-2 col-form-label">جستجو</label>
                                            <div class="col-xl-10 col-lg-10 col-sm-10">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 mb-2">
                                        <div class="table-responsive">
                                            <table class="table dash_list">
                                                <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">تصویر</th>
                                                    <th scope="col">نام</th>
                                                    <th scope="col">ایمیل</th>
                                                    <th scope="col">عملیات</th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for item in object_list %}




                                                    <tr>
                                                        <th scope="row">2</th>
                                                        <td><img src="{{ item.image.url }}" class="img-fluid circle"
                                                                 width="40" alt=""/></td>
                                                        <td>
                                                            <div class="smalls lg">{{ item.full_name }}</div>
                                                        </td>
                                                        <td><span class="smalls lg">{{ item.student_number }}</span>
                                                        </td>
                                                        <td>
                                                            <div class="dropdown show">
                                                                <a class="btn btn-action" href="#"
                                                                   data-toggle="dropdown" aria-haspopup="true"
                                                                   aria-expanded="false">
                                                                    <i class="fas fa-ellipsis-h"></i>
                                                                </a>
                                                                <div class="drp-select dropdown-menu">

                                                                    {% if item.student_number != None %}
                                                                    <a class="dropdown-item" href="{% url "AdminPanel:edit_admin" item.student_number %}">ویرایش</a>
                                                                        {% elif item.phone != None %}
                                                                    <a class="dropdown-item" href="{% url "AdminPanel:edit_admin" item.phone %}">ویرایش</a>
                                                                        {% elif item.nation_code != None %}
                                                                    <a class="dropdown-item" href="{% url "AdminPanel:edit_admin" item.nation_code %}">ویرایش</a>
                                                                    {% endif %}

                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="row align-items-center justify-content-between">
                                    <div class="col-xl-6 col-lg-6 col-md-12">
                                        <p class="p-0">نمایش 1 تا 1 از 1</p>
                                    </div>


                                    {% if page_obj.has_other_pages %}
                                        <div class="col-xl-6 col-lg-6 col-md-12">
                                            <nav class="float-right">
                                                <ul class="pagination smalls m-0">

                                                    {% if page_obj.has_previous %}
                                                        <li class="page-item">
                                                            <a class="page-link"
                                                               href="?page={{ page_obj.previous_page_number }}"
                                                               tabindex="-1"><i
                                                                    class="fas fa-arrow-circle-right"></i></a>
                                                        </li>
                                                    {% endif %}

                                                    {% for item in paginator.page_range %}



                                                        {% if item == page_obj.number %}
                                                            <li class="page-item active">
                                                                <a class="page-link"
                                                                   href="?page={{ item }}">{{ item }}<span
                                                                        class="sr-only">(صفحه جاری)</span></a>
                                                            </li>
                                                        {% else %}
                                                            <li class="page-item"><a class="page-link"
                                                                                     href="?page={{ item }}">{{ item }}</a>
                                                            </li>
                                                        {% endif %}

                                                    {% endfor %}
                                                    {% if page_obj.has_next %}
                                                        <li class="page-item">
                                                            <a class="page-link" href="?page={{ page_obj.next_page_number }}"><i
                                                                    class="fas fa-arrow-circle-left"></i></a>
                                                        </li>
                                                    {% endif %}
                                                </ul>
                                            </nav>
                                        </div>
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </section>
    <!-- ============================ Dashboard: Dashboard End ================================== -->

{% endblock %}