{% extends "base.html" %}
{% load static %}

{% block content %}
			<div class="ed_detail_head">
				<div class="container">
					<div class="row align-items-center mb-5">
						<div class="col-lg-3 col-md-12 col-sm-12">
							<div class="authi_125">
								<div class="authi_125_thumb">
									<img src="{{ teacher.user.image.url }}" class="img-fluid rounded" alt="" />
								</div>

							</div>
						</div>
						
						<div class="col-lg-9 col-md-12 col-sm-12">
							<div class="dlkio_452">
								<div class="ed_detail_wrap">
									<div class="crs_cates cl_1"><span>گرافیک</span></div><div class="crs_cates cl_3"><span>طراح</span></div>
									<div class="ed_header_caption">
										<h2 class="ed_title font-2">{{ teacher.user.full_name }}</h2>
										<ul>
											<li><i class="ti-calendar"></i>10 - 20 هفته</li>
											<li><i class="ti-control-forward"></i>{{ teacher.Corses.all.count }}</li>

										</ul>
									</div>
									<div class="ed_header_short">
										<p>{{ teacher.user.bio | safe }}</p>
									</div>
									

									
								</div>
								<div class="dlkio_last">
									<div class="ed_view_link">
										<a href="#" class="btn theme-bg enroll-btn">ثبت نام<i class="ti-angle-left"></i></a>
										<a href="#" class="btn theme-border enroll-btn">اشتراک گذاری<i class="fas fa-share"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================ Page Title End ================================== -->
			
			<!-- ============================ Course Detail ================================== -->
			<section class="gray">
				<div class="container">
					
					<div class="row justify-content-center">
					
						{% for item in course %}
						<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
							<div class="crs_grid">
								<div class="crs_grid_thumb">
									<a href="{{ item.get_absulot_url }}" class="crs_detail_link">
										<img src="{{ item.cover.url }}" class="img-fluid rounded" alt="" />
									</a>
									<div class="crs_video_ico">
										<i class="fa fa-play"></i>
									</div>
									<div class="crs_locked_ico">
										<i class="fa fa-lock"></i>
									</div>
								</div>
								<div class="crs_grid_caption">
									<div class="crs_flex">
										<div class="crs_fl_first">
											<div class="crs_cates cl_8"><span>{{ item.category.all.0 }}</span></div>
										</div>
										<div class="crs_fl_last">
											<div class="crs_inrolled"><strong>{{ item.user.all.count }}</strong>شرکت کننده</div>
										</div>
									</div>
									<div class="crs_title"><h4><a href="course-detail.html" class="crs_title_link">{{ item.titel }}</a></h4></div>
									<div class="crs_info_detail">
										<ul>
											<li><i class="fa fa-clock text-danger"></i><span>5ساعت 2دقیقه</span></li>
											<li><i class="fa fa-video text-success"></i><span>{{ item.corses_child.all.count }} ویدیو</span></li>
											<li><i class="fa fa-signal text-warning"></i><span>{{ item.level }}</span></li>
										</ul>
									</div>
								</div>
								<div class="crs_grid_foot">
									<div class="crs_flex">
										<div class="crs_fl_first">
											<div class="crs_tutor">
												<div class="crs_tutor_thumb"><a href="{{ item.teacher.get_absoolut_url }}"><img src="{{ item.teacher.user.image.url }}" class="img-fluid circle" alt="" /></a></div><div class="crs_tutor_name"><a href="{{ item.teacher.get_absoolut_url }}">{{ item.teacher.user.full_name }}</a></div>
											</div>
										</div>
										<div class="crs_fl_last">
											<div class="crs_price"><h2><span class="theme-cl">{{ item.price }}</span><span class="currency">تومان</span></h2></div>
										</div>
									</div>
								</div>
							</div>
						</div>
                        {% endfor %}
						

						
					</div>
					
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-8 mt-2">
							<div class="text-center"><a href="{% url "Course_app:Course" %}" class="btn btn-md theme-bg-light theme-cl">سایر دوره های آموزش</a></div>
						</div>
					</div>
					
				</div>
			</section>
			<!-- ============================ Course Detail ================================== -->
			
			{% endblock %}