{% extends "base.html" %}
{% load static %}


{% block content %}

    <!-- ============================ Page Title Start================================== -->
    <section class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">

                    <div class="breadcrumbs-wrap">
                        <h1 class="breadcrumb-title font-2">لیست مدرسین</h1>
                        <nav class="transparent">
                            <ol class="breadcrumb p-0 bg-white">
                                <li class="breadcrumb-item"><a href="{% url "Home_app:Home" %}">خانه</a></li>
                                <li class="breadcrumb-item active theme-cl" aria-current="page">لیست مدرسین</li>
                            </ol>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- ============================ Page Title End ================================== -->

    <!-- ============================ Course Detail ================================== -->
    <section class="gray">
        <div class="container">
            <div class="row">



                <!-- Sidebar -->
                <div class="col-xl-8 col-lg-8 col-md-12">


                    <div class="row justify-content-center">

                        {% for item in object_list %}

                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                                <div class="crs_trt_grid">
                                    <div class="crs_trt_thumb circle">
                                        <a href="{{ item.get_absoolut_url }}" class="crs_trt_thum_link">

                                            {% if item.uaer.image %}

                                            <img
                                                src="{{ item.user.image.url }}" class="img-fluid circle" alt="">

                                                {% else %}

                                                <img
                                                src="{% static "assets/img/user-5.jpg" %}" class="img-fluid circle" alt="">

                                            {% endif %}

                                        </a>
                                    </div>
                                    <div class="crs_trt_caption">
                                        <div class="instructor_tag dark"><span>{{ item.position }}</span></div>
                                        <div class="instructor_title"><h4><a
                                                href="{{ item.get_absoolut_url }}">{{ item.user.full_name }}</a></h4></div>
                                        <div class="trt_rate_inf">


                                        </div>
                                    </div>
                                    <div class="crs_trt_footer">
                                        <div class="crs_trt_ent"><i class="fa fa-user"></i>تعداد دوره
                                            ها: {{ item.Corses.count }}</div>
                                    </div>
                                </div>
                            </div>


                        {% endfor %}


                    </div>

                    <div class="row align-items-center justify-content-center">
                        {% if page_obj.has_other_pages %}
                            <div class="col-xl-12 col-lg-12 col-md-12">
                                <nav class="float-none">

                                    <ul class="pagination smalls">

                                        {% if page_obj.has_previous %}

                                            <li class="page-item ">
                                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                                                   tabindex="-1"><i class="fas fa-arrow-circle-right"></i></a>
                                            </li>

                                        {% endif %}

                                        {% for i in page_obj.paginator.page_range %}



                                            {% if i == page_obj.number %}

                                                <li class="page-item active">
                                                    <a class="page-link" href="?page={{ i }}">{{ i }}<span
                                                            class="sr-only">(صفحه جاری)</span></a>
                                                </li>
                                            {% else %}
                                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                            {% endif %}

                                        {% endfor %}

                                    {% if page_obj.has_next %}

                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="fas fa-arrow-circle-left"></i></a>
                                        </li>

                                        {% endif %}

                                    </ul>
                                </nav>
                            </div>
                        {% endif %}
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- ============================ Course Detail ================================== -->

    <!-- ============================ Call To Action ================================== -->

    <!-- ============================ Call To Action End ================================== -->

    <!-- ============================ Footer Start ================================== -->
{% endblock %}