{% load static %}


<footer class="dark-footer skin-dark-footer style-2">
				<div class="footer-middle">
					<div class="container">
						<div class="row">

							<div class="col-lg-5 col-md-5">
								<div class="footer_widget">

									<h4 class="extream mb-3 font-2">آیا به کمک تیم پشتیبانی<br>نیاز دارید؟</h4>
									<p>هر ماه با عضویت در خبرنامه ما از به‌روزرسانی‌ها، معاملات جدید، آموزش‌ها و تخفیف‌ها باخبر شوید.</p>
									<div class="foot-news-last">
										<div class="input-group">
										  <input type="text" class="form-control" placeholder="ایمیل">
											<div class="input-group-append">
												<button href="{% url "CountactByMe_app:contact" %}" class="input-group-text theme-bg b-0 text-light">عضویت</button>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-6 col-md-7 ml-auto">
								<div class="row">

									<div class="col-lg-4 col-md-4">
										<div class="footer_widget">
											<h4 class="widget_title">انجمن علمی</h4>
											<ul class="footer-menu">
												<li><a href="{% url "Home_app:Home" %}">صفحه اصلی</a></li>
												<li><a href="{% url "AboutUs_app:about_us" %}">درباره ما</a></li>
												<li><a href="{% url "Home_app:faq" %}">سوالات متداول</a></li>
												<li><a href="{% url "Course_app:Course" %}">دوره های آموزشی</a></li>
												<li><a href="{% url "CountactByMe_app:contact" %}">تماس با ما</a></li>
												<li><a href="{% url "Blog_App:blog" %}">لیست وبلاگ</a></li>
											</ul>
										</div>
									</div>







								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="footer-bottom">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-lg-12 col-md-12 text-center">
								<p class="mb-0"><a href="https://mahdiramazani.ir" target="_blank">  ساخته شده با 💓 توسط مهدی رمضانی</a></p>
							</div>
						</div>
					</div>
				</div>
			</footer>