{% load static %}
<div class="header header-light head-shadow">
    <div class="container">
        <nav id="navigation" class="navigation navigation-landscape">
            <div class="nav-header">
                <a class="nav-brand" href="#">
                    <img src="{% static "assets/img/logo.png" %}" class="logo" alt=""/>
                </a>
                <div class="nav-toggle"></div>
                <div class="mobile_nav">
                    <ul>
                        <li>
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#login"
                               class="crs_yuo12 w-auto text-white theme-bg">
                                <span class="embos_45"><i class="fas fa-sign-in-alt ml-1 rotate-img"></i>ورود</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="nav-menus-wrapper">
                <ul class="nav-menu">

                    <li {% if request.resolver_match.url_name == "Home" %} class="active" {% endif %}><a href="{% url "Home_app:Home" %}">خانه<span class="submenu-indicator"></span></a>

                    </li>

                    <li {% if request.resolver_match.url_name == "Course" %} class="active" {% endif %}><a href="{% url "Course_app:Course" %}">دوره های آموزشی<span class="submenu-indicator"></span></a>

                    </li>

                    <li><a href="#">صفحات<span class="submenu-indicator"></span></a>
                        <ul class="nav-dropdown nav-submenu">
                            <li><a href="#">فروشگاه<span class="submenu-indicator"></span></a>
                                <ul class="nav-dropdown nav-submenu">
                                    <li><a href="shop-with-sidebar.html">سایدبار راست</a></li>
                                    <li><a href="shop-with-left-sidebar.html">سایدبار چپ</a></li>
                                    <li><a href="list-shop-with-sidebar.html">نمای لیستی با سایدبار</a></li>
                                    <li><a href="wishlist.html">موردعلاقه ها</a></li>
                                    <li><a href="checkout.html">تسویه حساب</a></li>
                                    <li><a href="product-detail.html">جزئیات محصول</a></li>
                                </ul>
                            </li>
                            <li><a href="about.html">درباره ما</a></li>
                            <li><a href="contact.html">تماس با ما</a></li>
                            <li><a href="blogs.html">لیست وبلاگ</a></li>
                            <li><a href="pricing.html">قیمت گذاری</a></li>
                            <li><a href="404.html">صفحه 404</a></li>
                            <li><a href="component.html">المان ها</a></li>
                            <li><a href="faq.html">سوالات متداول</a></li>
                            <li><a href="login.html">ورود</a></li>
                            <li><a href="signup.html">ثبت نام</a></li>
                            <li><a href="forgot.html">فراوشی رمز عبور</a></li>
                        </ul>
                    </li>

                    <li {% if request.resolver_match.url_name == "Userpanel" %} class="active" {% endif %}><a href="{% url "AdminPanel:Userpanel" %}">حساب کاربری</a></li>

                </ul>

                {% if request.user.is_authenticated %}


                    <ul class="nav-menu nav-menu-social align-to-left">

                            <li>
                                <a href="#" data-toggle="modal">
                                    <i class=" "></i><span
                                        class="dn-lg"><p> خوش آمدید {{ request.user.full_name }} </p></span>
                                </a>
                            </li>

                            <li>
                            <a href="" class="btn login-btn" type="button" id="dropdownMenuButton"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% if request.user.iamge %}

                                <img src="{{ request.user.image.url }}" width="50px" height="50px"
                                     style="border-radius: 50px" alt="{{ request.user.full_name }}"/>

                                {% endif %}
                            </a>


                            <div class="dropdown-menu account-menu-items custom-bg"
                                 aria-labelledby="dropdownMenuButton">
                                {% if is_teacher == True %}
                                    <a class="" href="">پنل مدیریت</a>
                                {% endif %}
                                <a class="" href=""> پروفایل</a>
                                <a class="" href=""> مورد علاقه ها</a>
                                <a class="" href="{% url "Acount_app:Logout" %}"> خروج</a>

                            </div>


                        </li>

                    </ul>

                {% else %}

                    <ul class="nav-menu nav-menu-social align-to-left">

                        <li>
                            <a href="#" data-toggle="modal" data-target="#login">
                                <i class="fas fa-sign-in-alt ml-1 rotate-img"></i><span class="dn-lg">ورود</span>
                            </a>
                        </li>
                        <li class="add-listing theme-bg">
                            <a href="{% url "Acount_app:Signup" %}" class="text-white">ثبت نام</a>
                        </li>
                    </ul>
                {% endif %}

            </div>
        </nav>
    </div>
</div>