{% load static %}
<div class="header header-light head-shadow">
    <div class="container">
        <nav id="navigation" class="navigation navigation-landscape">
            <div class="nav-header">
                <a class="nav-brand" href="#">
                    <img src="{% static "assets/img/logo_c.jpg" %}" style="width: 80px" class="logo" alt=""/>
                </a>
                <div class="nav-toggle"></div>
                <div class="mobile_nav">


                    {% if request.user.is_authenticated %}


                        <ul>


                            <div class="btn-group account-drop">
                                <a href="javascript:void(0);" class="crs_yuo12 btn btn-order-by-filt"
                                   data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">

                                    {% if request.user.image %}
                                        <img src="{{ request.user.image.url }}" class="avater-img" alt="">
                                    {% else %}
                                        <img src="{% static "assets/img/user-5.jpg" %}" class="avater-img" alt="">
                                    {% endif %}
                                </a>
                                <div class="dropdown-menu pull-right animated flipInX">

                                    {% if request.user.is_authenticated %}

                                        <div class="drp_menu_headr">
                                            <h4>سلام،{{ request.user.full_name }}</h4>
                                        </div>

                                    {% endif %}
                                    <ul>

                                        <li><a href="{% url "AdminPanel:Userpanel" %}"><i class="fa fa-user-tie"></i>پروفایل
                                            کاربری</a></li>
                                        <li><a href="{% url "AdminPanel:my_course" %}"><i
                                                class="fas fa-shopping-basket"></i>دوره های
                                            من<span class="notti_coun style-2">{{ c_count }}</span></a></li>


                                        <li><a href="{% url "AdminPanel:list_of_pay" %}"><i class="fas fa-comments"></i>سبد
                                            خرید</a></li>
                                        <li><a href="{% url "Acount_app:Logout" %}"><i class="fa fa-unlock-alt"></i>خروج</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                            </li>

                        </ul>


                    {% else %}
                        <ul>
                            <li>
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#login"
                                   class="crs_yuo12 w-auto text-white theme-bg">
                                    <span class="embos_45"><i class="fas fa-sign-in-alt ml-1 rotate-img"></i>ورود</span>
                                </a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="nav-menus-wrapper">
                <ul class="nav-menu">

                    <li {% if request.resolver_match.url_name == "Home" %} class="active" {% endif %}><a
                            href="{% url "Home_app:Home" %}">خانه<span class="submenu-indicator"></span></a>

                    </li>

                    <li><a href="#">دسته بندی ها<span class="submenu-indicator"></span></a>
                        <ul class="nav-dropdown nav-submenu">


                            {% for iten in category %}
                                <li><a href="{% url "Course_app:Category_course" iten.id %}">{{ iten.name }}</a></li>

                            {% endfor %}

                        </ul>
                    </li>

                    <li {% if request.resolver_match.url_name == "Course" %} class="active" {% endif %}><a
                            href="{% url "Course_app:Course" %}">دوره های آموزشی<span class="submenu-indicator"></span></a>

                    </li>

                    <li {% if request.resolver_match.url_name == "Teacher_List" %} class="active" {% endif %}><a
                            href="{% url "Teacher_app:Teacher_List" %}">مدرسین<span
                            class="submenu-indicator"></span></a>

                    </li>

                    <li {% if request.resolver_match.url_name == "technical_team" %} class="active" {% endif %}><a
                            href="{% url "TechnicalTeam_app:technical_team" %}">تیم فنی<span
                            class="submenu-indicator"></span></a>

                    </li>


                    <li {% if request.resolver_match.url_name == "blog" %} class="active" {% endif %}><a
                            href="{% url "Blog_App:blog" %}">وبلاگ</a></li>

                    <li {% if request.resolver_match.url_name == "about_us" %} class="active" {% endif %}><a
                            href="{% url "AboutUs_app:about_us" %}">درباره ما</a></li>

                    <li {% if request.resolver_match.url_name == "about_usl" %} class="active" {% endif %}><a
                            href="{% url "AboutUs_app:about_us" %}">معرفی انجمن</a></li>

                </ul>

                {% if request.user.is_authenticated %}


                    <ul class="nav-menu nav-menu-social align-to-left">

                        <li class="account-drop">
                            <a href="javascript:void(0);" class="crs_yuo12" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                <span class="embos_45"><i class="fas fa-shopping-basket"></i><i
                                        class="embose_count">{{ count_ch }}</i></span>
                            </a>
                            <div class="dropdown-menu pull-right animated flipInX">
                                <div class="drp_menu_headr bg-purple">
                                    <h4>سبد خرید من</h4>
                                </div>
                                <div class="ground-list ground-hover-list">

                                    {% for item in checkout %}
                                        <div class="ground ground-list-single">
                                            <div class="grd_thum"><img src="{{ item.course.cover.url }}"
                                                                       class="img-fluid rounded" width="50" alt=""/>
                                            </div>
                                            <div class="ground-content">
                                                <h6>{{ item.course.titel | truncatewords:"4" }}<small
                                                        class="float-left text-fade">{{ item.course.get_price }}
                                                    ﷼ </small></h6>
                                                <a href="{{ item.course.get_absulot_url }}" class="small text-danger">نمایش</a>
                                            </div>


                                        </div>

                                    {% endfor %}

                                <div class="ground ground-list-single">
                                                <a href="{% url "AdminPanel:list_of_pay" %}" class="btn theme-bg text-white full-width">مشاهده
                                                    سبد
                                                </a>
                                            </div>

                                </div>
                            </div>
                        </li>

                        <div class="btn-group account-drop">
                            <a href="javascript:void(0);" class="crs_yuo12 btn btn-order-by-filt" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">

                                {% if request.user.image %}
                                    <img src="{{ request.user.image.url }}" class="avater-img" alt="">
                                {% else %}
                                    <img src="{% static "assets/img/user-5.jpg" %}" class="avater-img" alt="">
                                {% endif %}
                            </a>
                            <div class="dropdown-menu pull-right animated flipInX">

                                {% if request.user.is_authenticated %}

                                    <div class="drp_menu_headr">
                                        <h4>سلام،{{ request.user.full_name }}</h4>
                                    </div>

                                {% endif %}
                                <ul>

                                    <li><a href="{% url "AdminPanel:Userpanel" %}"><i class="fa fa-user-tie"></i>پروفایل
                                        کاربری</a></li>
                                    <li><a href="{% url "AdminPanel:my_course" %}"><i
                                            class="fas fa-shopping-basket"></i>دوره های
                                        من<span class="notti_coun style-2">{{ c_count }}</span></a></li>


                                    <li><a href="{% url "AdminPanel:list_of_pay" %}"><i
                                            class="fas fa-shopping-basket"></i>سبد خرید</a></li>
                                    <li><a href="{% url "Acount_app:Logout" %}"><i class="fa fa-unlock-alt"></i>خروج</a>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        </li>

                    </ul>

                {% else %}

                    <ul class="nav-menu nav-menu-social align-to-left">

                        <li>
                            <a href="#" data-toggle="modal" data-target="#login">
                                <i class="fas fa-sign-in-alt ml-1 rotate-img"></i><span class="dn-lg">ورود</span>
                            </a>
                        </li>
                        <li class="add-listing theme-bg">
                            <a href="{% url "Acount_app:Signup" %}" class="text-white">ثبت نام</a>
                        </li>
                    </ul>
                {% endif %}

            </div>
        </nav>
    </div>
</div>