{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- End Navigation -->
    <div class="clearfix"></div>
    <!-- ============================================================== -->
    <!-- Top header  -->
    <!-- ============================================================== -->


    <!-- ============================ Hero Banner  Start================================== -->
    <div class="hero_banner image-cover image_bottom h7_bg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="simple-search-wrap text-right">
                        <div class="hero_search-2">
                            <h1 class="banner_title mb-4 font-2">انجمن علمی کامپیوتر دانشگاه صنعتی سیرجان</h1>
                            <h1 class="banner_title mb-4 font-2">در مسیر پیشرفت<br>با دوره های آموزشی آنلاین<br><span
                                    class="light">در کنار شماست...</span></h1>
                            <p class="font-lg mb-4">برنامه‌نویسی این امکان رو به شما می‌ده تا در مورد خودِ «فکر کردن»
                                فکر کنید و وقتی‌ هم که دیباگ می‌کنید، در مورد خودِ «یادگیری» یاد می‌گیرید</p>
                            <form method="get" action="{% url "Home_app:search" %}">
                                <div class="input-group simple_search">
                                    <i class="fa fa-search ico"></i>

                                    <input type="text" name="q" class="form-control" required
                                           placeholder="نام دوره آموزش...">
                                    <div class="input-group-append">
                                        <button class="btn theme-bg" type="submit">جستجو</button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="side_block extream_img">
                        <div class="list_crs_img">
                            <img src="{% static "assets/img/ic-1.png" %}" class="img-fluid cirl animate-fl-y" alt=""/>
                            <img src="{% static "assets/img/ic-2.png" %}" class="img-fluid arrow animate-fl-x" alt=""/>
                            <img src="{% static "assets/img/ic-3.png" %}" class="img-fluid moon animate-fl-x" alt=""/>
                        </div>
                        <img src="{% static "assets/img/side-2.png" %}" class="img-fluid" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================ Hero Banner End ================================== -->

    <!-- ============================ Cources Start ================================== -->



    <section class="min">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-10 text-center">
                    <div class="sec-heading center mb-4">
                        <h3 class="font-2">محورهای آموزشی <span class="theme-cl">پرمنتخب</span></h3>

                    </div>
                </div>
            </div>

            <div class="row">

                {% for item in category|slice:"0:5" %}

                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="edu_cat_2 cat-1">
                            <div class="edu_cat_icons">
                                <a class="pic-main" href="{{ item.get_absulot_url }}"><img src="{{ item.image.url }}"
                                                                                           class="img-fluid"
                                                                                           alt=""/></a>
                            </div>
                            <div class="edu_cat_data">
                                <h4 class="title"><a href="{{ item.get_absulot_url }}">{{ item.name }}</a></h4>
                                <ul class="meta">
                                    <li class="video"><i class="ti-video-clapper"></i>{{ item.Corses.all.count }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                {% endfor %}


            </div>

        </div>
    </section>



    <hr>
    <br>









    <section class="min">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-8">
                    <div class="sec-heading center">
                        <h3 class="font-2">جدیدترین دوره های <span class="theme-cl">انجمن</span></h3>

                    </div>
                </div>
            </div>

            <div class="row justify-content-center">

                {% for c in coures %}

                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                        <div class="crs_grid">
                            <div class="crs_grid_thumb">
                                <a href="{{ c.get_absulot_url }}" class="crs_detail_link">
                                    <img src="{{ c.cover.url }}" class="img-fluid rounded" alt=""/>
                                </a>
                                <div class="crs_video_ico">
                                    <i class="fa fa-play"></i>
                                </div>

                            </div>
                            <div class="crs_grid_caption">
                                <div class="crs_tutor_thumb overl_top"><a href="{{ c.get_absulot_url }}">

                                    {% if c.teacher.user.image %}
                                    <img
                                        src="{{ c.teacher.user.image.url }}" class="img-fluid circle" alt=""/>
                                        {% else %}
                                        <img
                                        src="{% static "assets/img/user-5.jpg" %}" class="img-fluid circle" alt=""/>
                                    {% endif %}

                                </a></div>
                                <div class="crs_cates cl_1"><span>{{ c.category.all.0 }}</span></div>

                                <span class="crs_cates cl_1 badge badge-success">{{ c.how_to_hold }}</span>

                                <div class="crs_title"><h4><a href="{{ c.get_absulot_url }}"
                                                              class="crs_title_link">{{ c.titel }}</a></h4></div>
                                <div class="crs_info_detail">
                                    <ul>
                                        <li><i class="fa fa-video"></i><span>{{ c.corses_child.all.count }}</span></li>
                                        <li><i class="fa fa-user"></i><span>{{ c.user.all.count }} کاربر</span></li>
                                        <li><i class="fa fa-eye"></i><span>{{ c.view }} بازدید</span></li>
                                    </ul>
                                </div>

                            </div>
                            <div class="crs_grid_foot">
                                <div class="crs_flex">
                                    <div class="crs_fl_first">

                                        {% if c.discount == None %}
                                            <div class="crs_price"><h2><span
                                                    class="theme-cl">{{ c.get_price }}</span><span
                                                    class="currency">تومان</span></h2></div>
                                        {% else %}
                                            <div class="crs_price"><h2><span
                                                    class="theme-cl">{{ c.get_price }}</span><span
                                                    class="currency">تومان</span></h2></div>
                                        {% endif %}

                                    </div>
                                    <div class="crs_fl_last">

                                        <div class="crs_linkview">
                                            <button class="btn btn_view_detail theme-bg text-light">{{ c.status }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}


            </div>

        </div>
    </section>
    <div class="clearfix"></div>
    <!-- ============================ Cources End ================================== -->

    <!-- ============================ Instructor Start ================================== -->
    <hr>
    <br>
    <section class="pt-0">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-10 text-center">
                    <div class="sec-heading center mb-4">
                        <h3 class="font-2">لیست مدرسین <span class="theme-cl">پیشنهادی</span></h3>
                        <br>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="tutor-slide">


                        {% for t in teacher %}

                            <div class="lios_item">
                                <div class="crs_trt_grid shadow_none brd">
                                    <div class="crs_trt_thumb">
                                        <a href="{{ t.get_absoolut_url }}" class="crs_trt_thum_link">
                                            {% if t.user.image %}
                                                <img
                                                        src="{{ t.user.image.url }}" class="img-fluid" alt=""/></a>
                                            {% else %}

                                                <img
                                                        src="{% static "assets/img/user-5.jpg" %}" class="img-fluid"
                                                        alt=""/>
                                            {% endif %}
                                    </div>
                                    <div class="crs_trt_caption large">
                                        <div class="instructor_tag"><span>{{ t.position }}</span></div>
                                        <div class="instructor_title"><h4><a
                                                href="{{ t.get_absoolut_url }}">{{ t.user.full_name }}</a>
                                        </h4></div>

                                    </div>
                                    <div class="crs_trt_footer">
                                        <div class="crs_flex">
                                            <div class="crs_fl_first">
                                                <div class="crs_trt_ent"><i class="fa fa-user"></i>عضویت
                                                    از {{ t.created | timesince }} پیش
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}


                    </div>
                </div>
            </div>

        </div>
    </section>
    <div class="clearfix"></div>
    <!-- ============================ Instructor End ================================== -->

    <!-- ============================ Top Cources E-books ================================== -->
    <hr>
    <br>
    <section class="min">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-8">
                    <div class="sec-heading center">
                        <h3 class="font-2">آخرین اخبار و <span class="theme-cl">مقالات</span></h3>

                    </div>
                </div>
            </div>

            <div class="row justify-content-center">

                {% for item in object_list %}
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                        <div class="blg_grid_box">
                            <div class="blg_grid_thumb">
                                <a href="{{ item.get_absolut_url }}"><img src="{{ item.image.url }}" class="img-fluid"
                                                                          alt=""/></a>
                            </div>
                            <div class="blg_grid_caption">
                                <div class="blg_tag"><span>{{ item.category.all.0 }}</span></div>
                                <div class="blg_title"><h4><a href="{{ item.get_absolut_url }}">{{ item.titel }}</a>
                                </h4></div>
                                <div class="blg_desc"><p>{{ item.text | truncatewords:15 | safe }}</p></div>
                            </div>
                            <div class="crs_grid_foot">
                                <div class="crs_flex">
                                    <div class="crs_fl_first">
                                        <div class="crs_tutor">
                                            <div class="crs_tutor_thumb"><a href="{{ item.get_absolut_url }}">
                                                {% if item.user.image %}
                                                    <img
                                                            src="{{ item.user.image.url }}" class="img-fluid circle"
                                                            alt=""/>

                                                {% else %}

                                                    <img
                                                            src="{% static "assets/img/user-5.jpg" %}"
                                                            class="img-fluid circle"
                                                            alt=""/>



                                                {% endif %}
                                            </a></div>
                                        </div>
                                    </div>
                                    <div class="crs_fl_last">
                                        <div class="foot_list_info">
                                            <ul>
                                                <li>
                                                    <div class="elsio_ic"><i class="fa fa-eye text-success"></i></div>
                                                    <div class="elsio_tx">{{ item.view }} بازدید</div>
                                                </li>
                                                <li>
                                                    <div class="elsio_ic"><i class="fa fa-clock text-warning"></i></div>
                                                    <div class="elsio_tx">{{ item.get_jalali_date }}</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>

        </div>
    </section>
    <!-- ============================ Top Cources E-books ================================== -->

    <!-- ============================ Students Reviews ================================== -->

    <!-- ============================ Students Reviews End ================================== -->

    <!-- ============================ Work Process Start ================================== -->

    <div class="clearfix"></div>
    <!-- ============================ Work Process End ================================== -->

    <!-- ============================ Call To Action ================================== -->

    <!-- ============================ Call To Action End ================================== -->

{% endblock %}