{% load static %}
<html lang="fa">

<head>
    {% include "include/head.html" %}

</head>

<body class="blog-page" dir="rtl">

<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">

    <!-- ============================================================== -->
    <!-- Top header  -->
    <!-- ============================================================== -->
    <!-- Start Navigation -->
    {% include "include/Nevagation.html" %}
    <!-- ============================================================== -->
    <!-- Top header  -->
    <!-- ============================================================== -->

    <!-- ============================ Page Title Start================================== -->
    <section class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">

                    <div class="breadcrumbs-wrap">
                        <h2 class="breadcrumb-title font-2">{{ object.titel }}</h2>
                        <nav class="transparent">
                            <ol class="breadcrumb p-0">
                                <li class="breadcrumb-item"><a href="{% url "Home_app:Home" %}">خانه</a></li>
                                <li class="breadcrumb-item active theme-cl" aria-current="page">جزئیات وبلاگ</li>
                            </ol>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- ============================ Page Title End ================================== -->

    <!-- ============================ Blog Detail Start ================================== -->
    <section class="gray">

        <div class="container">

            <!-- row Start -->
            <div class="row">

                <!-- Blog Detail -->
                <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="article_detail_wrapss single_article_wrap format-standard">
                        <div class="article_body_wrap">

                            <div class="article_featured_image">
                                <img class="img-fluid" src="{{ object.image.url }}" alt="">
                            </div>

                            <div class="article_top_info">
                                <ul class="article_middle_info">
                                    <li><a href="#"><span class="icons"><i
                                            class="ti-user"></i></span>نویسنده {{ object.user.full_name }}</a></li>
                                    <li><a href="#"><span class="icons"><i
                                            class="ti-comment-alt"></i></span>{{ object.comment.all.count }} دیدگاه</a>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="post-title">{{ object.titel | safe }}</h3>
                            <br>
                            <p>{{ object.text |safe }}</p>
                        </div>
                    </div>

                    <!-- Author Detail -->
                    <div class="article_detail_wrapss single_article_wrap format-standard">

                        <div class="article_posts_thumb">
                            <span class="img"><img class="img-fluid" src="{{ object.user.image.url }}" alt=""></span>
                            <h3 class="pa-name">{{ object.user.full_name }}</h3>
                            <ul class="social-links">
                                <li><a href="{{ object.user.facebook }}"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="{{ object.user.twitter }}"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="{{ object.user.instagram }}"><i class="fab fa-behance"></i></a></li>
                                <li><a href="{{ object.user.linkedin }}"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                            <p class="pa-text">{{ object.user.bio | safe }}</p>
                        </div>

                    </div>

                    <!-- Blog Comment -->
                    <div class="article_detail_wrapss single_article_wrap format-standard">

                        <div class="comment-area">
                            <div class="all-comments">
                                <h3 class="comments-title">دیدگاه کاربران</h3>
                                <div class="comment-list">
                                    <ul>
                                        <li class="article_comments_wrap">

                                            {% for comment in object.comment.all %}

                                                {% if comment.parent == None %}

                                                    <article>
                                                        <div class="article_comments_thumb">
                                                            <img src="{{ comment.user.image.url }}" alt="">
                                                        </div>
                                                        <div class="comment-details">
                                                            <div class="comment-meta">
                                                                <div class="comment-left-meta">
                                                                    <h4 class="author-name">{{ comment.user.full_name }}
                                                                        <span class="selected"><i
                                                                                class="fas fa-bookmark"></i></span></h4>
                                                                    <div class="comment-date">{{ comment.creted }}</div>
                                                                </div>
                                                                <div class="comment-reply">
                                                                    <a onclick="set_value({{ comment.id }})" class="reply"><span class="icona"><i
                                                                            class="ti-back-left"></i></span> پاسخ</a>
                                                                </div>
                                                            </div>
                                                            <div class="comment-text">
                                                                <p>{{ comment.body | safe }}</p>
                                                            </div>
                                                        </div>
                                                    </article>

                                                {% else %}

                                                    {% for replay in comment.parent.replay.all %}

                                                        <ul class="children">
                                                            <li class="article_comments_wrap">
                                                                <article>
                                                                    <div class="article_comments_thumb">
                                                                        <img src="{{ replay.user.image.url }}" alt="">
                                                                    </div>
                                                                    <div class="comment-details">
                                                                        <div class="comment-meta">
                                                                            <div class="comment-left-meta">
                                                                                <h4 class="author-name">{{ replay.user.full_name }}</h4>
                                                                                <div class="comment-date">{{ replay.created }}</div>
                                                                            </div>

                                                                        </div>
                                                                        <div class="comment-text">
                                                                            <p>{{ replay.body | safe }}</p>
                                                                        </div>
                                                                    </div>
                                                                </article>

                                                            </li>
                                                        </ul>

                                                    {% endfor %}


                                                {% endif %}

                                            {% endfor %}

                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="comment-box submit-form">
                                <h3 class="reply-title">ثبت دیدگاه</h3>
                                <div class="comment-form">
                                    <form method="post" id="post-form">
                                        {% csrf_token %}
                                        <div class="row">

                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <textarea id="body"  class="form-control" cols="30" rows="6"
                                                              placeholder="نظر خود را بنویسید..."></textarea>
                                                </div>
                                            </div>

                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <input type="hidden" id="parent_id" class="form-control"
                                                              >
                                                </div>
                                            </div>

                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <button type="submit" class="btn theme-bg text-white">ثبت دیدگاه
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>

                <!-- Single blog Grid -->
                <div class="col-lg-4 col-md-12 col-sm-12 col-12">

                    <!-- Searchbard -->
                    <div class="single_widgets widget_search">
                        <h4 class="title">جستجو</h4>
                        <form action="#" class="sidebar-search-form">
                            <input type="search" name="search" placeholder="عنوان مورد نظر...">
                            <button type="submit"><i class="ti-search"></i></button>
                        </form>
                    </div>

                    <!-- Categories -->
                    <div class="single_widgets widget_category">
                        <h4 class="title">دسته بندی</h4>
                        <ul>
                            {% for item  in category|slice:"0:5" %}
                                <li>
                                    <a href="{{ item.get_absulot_url }}">{{ item.name }}<span>{{ item.blog.all.count }}</span></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- Trending Posts -->
                    <div class="single_widgets widget_thumb_post">
                        <h4 class="title">جدیدترین وبلاگ</h4>
                        <ul>
                            {% for item in last_blog %}
                                <li>
										<span class="left">
											<img src="{{ item.image.url }}" alt="" class="">
										</span>
                                    <span class="right">
											<a class="feed-title" href="#">{{ item.titel }}</a>
											<span class="post-date"><i
                                                    class="ti-calendar"></i>{{ item.created |timesince }} پیش</span>
										</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- Tags Cloud -->
                    <div class="single_widgets widget_tags">
                        <h4 class="title">برچسب</h4>
                        <ul>
                            {% for item in tag %}
                                <li><a>{{ item.name }}</a></li>
                            {% endfor %}

                        </ul>
                    </div>

                </div>

            </div>
            <!-- /row -->

        </div>

    </section>
    <!-- ============================ Blog Detail End ================================== -->

    <!-- ============================ Call To Action ================================== -->
    <section class="theme-bg call_action_wrap-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="call_action_wrap">
                        <div class="call_action_wrap-head">
                            <h3 class="font-2">آیا سوالی دارید؟</h3>
                            <span>ما به شما کمک خواهیم کرد تا شغل و رشد خود را افزایش دهید.</span>
                        </div>
                        <a href="#" class="btn btn-call_action_wrap">امروز با ما تماس بگیرید</a>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- ============================ Call To Action End ================================== -->

    <!-- ============================ Footer Start ================================== -->
    {% include "include/footer.html" %}
    <!-- ============================ Footer End ================================== -->

    <!-- Log In Modal -->
    {% include "include/login.html" %}
    <!-- End Modal -->

    <a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>


</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

    function set_value(id){

        document.getElementById('parent_id').value=id;
        window.location.href="#body"

    }
</script>
<script src="{% static "assets/js/jquery.min.js" %}"></script>
<script src="{% static "assets/js/popper.min.js" %}"></script>
<script src="{% static "assets/js/bootstrap.min.js" %}"></script>
<script src="{% static "assets/js/select2.min.js" %}"></script>
<script src="{% static "assets/js/slick.js" %}"></script>
<script src="{% static "assets/js/moment.min.js" %}"></script>
<script src="{% static "assets/js/daterangepicker.js" %}"></script>
<script src="{% static "assets/js/summernote.min.js" %}"></script>
<script src="{% static "assets/js/metisMenu.min.js" %}"></script>
<script src="{% static "assets/js/custom.js" %}"></script>


<script>


    $(document).on('submit', '#post-form', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "Blog_App:blog_detail" object.id %}',
            data: {

                body: $('#body').val(),
                parent_id: $('#parent_id').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
            },

            success: function (json) {
                document.getElementById("post-form").reset();
                Swal.fire(
                    'بسیار عالی !',
                    json["response"],
                    'success'
                )
            },


        })
    });


</script>

</body>

</html>