{% extends "base.html" %}
{% load static %}

{% block content %}

			<section class="page-title gray">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							
							<div class="breadcrumbs-wrap">
								<h1 class="breadcrumb-title font-2">تسویه حساب</h1>
								<nav class="transparent">
									<ol class="breadcrumb p-0">
										<li class="breadcrumb-item"><a href="{% url "Home_app:Home" %}">خانه</a></li>
										<li class="breadcrumb-item active theme-cl" aria-current="page">تسویه حساب</li>
									</ol>
								</nav>
							</div>
							
						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Page Title End ================================== -->
			
			<!-- ============================ Our Story Start ================================== -->
			<section class="gray-simple">
			
				<div class="container">
				
					<!-- row Start -->

					<!-- /row -->

					<!-- row Start -->
					<div class="row frm_submit_block">
						<div class="col-lg-8 col-md-12 col-sm-12">
							<div class="submit-page mb-4">
								<!-- row -->
								<div class="row">
									
									<div class="col-lg-12 col-md-12 col-sm-12">
										<h3 class="mr-0 font-2">جزئیات صورت حساب</h3>
									</div>
									
									<div class="col-lg-6 col-md-6 col-sm-12">
										<div class="form-group">
											<label>نام و نام خانوادگی<i class="req">*</i></label>
											<input type="text" value="{{ request.user.full_name }}" class="form-control">
										</div>
									</div>
									


									

									
									<div class="col-lg-6 col-md-6 col-sm-12">
										<div class="form-group">
											<label>شماره همراه<i class="req">*</i></label>
											<input type="text" value="{{ request.user.phone }}" class="form-control">
										</div>
									</div>
									

									


									
								</div>
								<!--/row -->
							</div>
							
							<div class="panel-group pay_opy980" id="payaccordion">
									
								<!-- Pay By Paypal -->
								<div class="panel panel-default border">
									<div class="panel-heading" id="pay">
										<h4 class="panel-title">
											<a data-toggle="collapse" role="button" data-parent="#payaccordion" href="#payPal" aria-expanded="true"  aria-controls="payPal" class="">پرداخت آنلاین<img src="{% static "assets/img/paypal.html" %}" class="img-fluid" alt=""></a>
										</h4>
									</div>
									<div id="payPal" class="panel-collapse collapse show" aria-labelledby="pay" data-parent="#payaccordion">
										<div class="panel-body">
											<form action="{% url "Course_app:request_pay" checkout.id %}" method="post">
                                                {% csrf_token %}

                                                {% if checkout.price == 0 %}
												<div class="form-group">
													<button type="submit" class="btn theme-bg btm-md full-width">خرید رایگان دوره</button>
												</div>
                                                    {% else %}
                                                    <div class="form-group">
													<button type="submit" class="btn theme-bg btm-md full-width">پرداخت {{ checkout.get_price_tax }} ریال</button>
												</div>
                                                {% endif %}
											</form>
										</div>
									</div>
								</div>
								
								<!-- Pay By Strip -->

							</div>
								
						</div>
						
						<!-- Col-lg 4 -->
						<div class="col-lg-4 col-md-12 col-sm-12">
							
							<div class="col-lg-12 col-md-12 col-sm-12">
								<h3 class="font-2">خرید شما</h3>
							</div>
							
							<div class="col-lg-12 col-md-12 col-sm-12">
								<div class="pro_product_wrap">
									<h5>{{ checkout.course.titel }}</h5>

									<ul>
										<li><strong>هزینه دوره</strong>{{ checkout.get_price }} ریال</li>
										<li><strong>مالیات</strong>9 درصد</li>

										<li><strong>جمع کل</strong>{{ checkout.get_price_tax }} ریال</li>
									</ul>
								</div>
							</div>
							
						</div>
						<!-- /col-lg-4 -->
					</div>
					<!-- /row -->					
					
				</div>
						
			</section>
			<!-- ============================ Our Story End ================================== -->
		{% endblock %}