
{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basket</title>

    <link rel="stylesheet" href="{% static "assets/css/bootstrap.rtl.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/Css.css" %}">
    <link rel="stylesheet" href="{% static "assets/uicons-regular-straight/css/uicons-regular-straight.css" %}">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-xl-8 col-md-12 col-sm-12">
                <div class="basket-item">
                    <div class="item-row  mt-2 mb-2 p-3 rounded shadow">
                        <div class="detail">
                            <a class="title" href="">
                            آموزش فریم ورک جنگو (Django) از مقدماتی تا پیشرفته
                            </a>
                            <span class="teacher-name">مدرس : مهدی رمضانی</span>
                        </div>
                        <div class="price-lbl">
                            <span>600,000 تومان</span>
                        </div>
                        <a class="delete-row" href="">
                            <i class="fi-rs-circle-cross"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-12 col-sm-12">
                <div class="discount-code shadow mt-2 rounded">
                    <div class="input-layer">
                        <input type="text" id="DiscountCode" placeholder="کد تخفیف">
                        <button class="button-st" onclick="ApplyDiscount()">اعمال کد</button>
                    </div>
                </div>
                <form method="post" action="/Account/Basket" novalidate="novalidate">
                    <div class="payment-way shadow mt-4 rounded">
                        <span>انتخاب نحوه پرداخت :</span>
                        <div class="selected-ways">
                            <ul>
                                <li>
                                    <input type="radio" id="payment-geteway" name="payment" class="order-payment" value="OnlinePayment" checked data-val="true" data-val-required="The Payment type failed is required" name="PaymentType">
                                    <label for="payment-gateway">درگاه پرداخت انلاین</label> 
                                </li>
                                <li>
                                    <input type="radio" id="wallet-way" name="payment"  class="order-payment" value="Wallet" name="paymentType">
                                    <label for="Wallet-way">کیف پول (موجودی : 0 تومان)</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>

                <div class="basket-factor shadow rounded mt-4">
                    <span class="main-payment">
                        مبلغ کل:
                        <i>
                            600,000 تومان
                        </i>
                    </span>
                    <span class="profit-amount">
                        تخفیف: 
                        <i>
                            0 تومان
                        </i>
                    </span>
                    <span class="final-payment">
                        مبلغ قابل پرداخت:
                        <i>
                            600,000 تومان 
                        </i>
                        <button class="button-dis green wide rounded" type="submit" id="btn-sumbit"> ثبت و پرداخت نهایی </button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static "assets/js/bootstrap.bundle.js" %}"></script>
    <script src="{% static "assets/js/jquery-3.6.1.min.js" %}"></script>
    <script src="{% static "assets/js/Js.js" %}"></script>
</body>
</html>