@font-face {
    font-family: vazir;
    src: url("../vazir-font/Vazir.eot");
    src: url("../vazir-font/Vazir.eot?#iefix") format('embedded-opentype'),
         url("../vazir-font/Vazir.woff") format('woff'),
         url("../vazir-font/Vazir.ttf") format("truetype");
}
body{
    font-family: vazir;
}
div{
    display: block;
}
.title , .teacher-name , .price-lbl{
    text-decoration: none;
    color: #000;
    font-size: 15px;
}
.item-row , .teacher-name , .basket-item{
    display: block;
    line-height: 28px;
    color: #686e71;
}
.title{
    font-weight: bold;
    color: #1e2f38;
}
.item-row{
    position: relative;
    border: 1px solid #e4e7e9;
}
.price-lbl{
    position: absolute;
    left: 10px;
    top: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-width: 160px;
    height: 100%;
    color: #61b832;
    font-size: 17px;
}
.basket-items , .item-row , .detail , .title {
    font-size: 18px;
    line-height: 28px;
    color: #1e2f38;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}
.delete-row{
    text-decoration: none;
    color: #686e71;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    border: 1px solid #e8ebec;
    font-size: 16px;
    box-shadow: 0px 5px 5px 0px #00000010;
    position: absolute;
    left: -14px;
    top: -15px;
}
.discount-code{
    padding: 19px;
    border: 1px solid #e8ebec;
    
}
.discount-code input{
    width: 100%;
    height: 45px;
    line-height: 45px;
    padding: 0px 10px 0px 75px;
    font-size: 18px;
    border: 1px solid #e4e7e9;
    border-radius: 5px;
    
}
.input-layer{
    position: relative;
}
.button-st{
    position: absolute;
    left: 0px;
    top: 0px;
    line-height: 45px;
    font-size: 18px;
    height: 45px;
    background-color: #61b832;
    border: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
}
.payment-way{
    padding: 20px;
    font-size: 18px;
    border: 1px solid #e8ebec;

}
ul li{
    list-style-type: none;
    margin-bottom: 5px;
    font-size: 15px;
    margin-right: -34px;
}
ul:first-child{
    margin-top: 10px;
}
ul:last-child{
    margin-bottom: 0px;
}
.basket-factor{
    padding: 15px;
    font-size: 15PX;
    position: relative;
}
.main-payment , .profit-amount{
    display: block;
    line-height: 30px;
    padding-bottom: 5px;
}
.main-payment i , .profit-amount i{
    padding-left: 10px;
    font-style: normal;
    float: left;
}
.profit-amount{
    color: #01ace5;
    border-bottom: 1px solid #e4e7e9;
    padding-bottom: 15px;
}

.final-payment{
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
    display: block;
    font-weight: 500;
}
.final-payment i{
    font-style: normal;
}
.button-dis{
    line-height: 45px;
    font-size: 18px;
    height: 45px;
    background-color: #61b832;
    border: 0px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 5px;
}
@media only screen and (max-width: 768px){
    .price-lbl{
        
        text-align: center;
        position: static;
    }
}