{% extends "base.html" %}
{% load static %}

{% block content %}
			<section class="page-title gray">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							
							<div class="breadcrumbs-wrap">
								<h1 class="breadcrumb-title font-2">درباره ما</h1>
								<nav class="transparent">
									<ol class="breadcrumb p-0">
										<li class="breadcrumb-item"><a href="{% url "Home_app:Home" %}">خانه</a></li>
										<li class="breadcrumb-item active theme-cl" aria-current="page">درباره ما</li>
									</ol>
								</nav>
							</div>
							
						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Page Title End ================================== -->
			
			<!-- ============================ About Detail ================================== -->
			<section>
				<div class="container">
					<div class="row align-items-center justify-content-between">
						<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
						<div class="lmp_caption">
								<h2 class="mb-3 font-2">انجمن علمی کامپیوتر دانشگاه صنعتی سیرجان</h2>
								<p>انجمن علمی دانشجویان مهندسی کامپیوتر دانشگاه صنعتی سیرجان، تشکلی دانشجویی است که از دانشجویان علاقه مند به امور علمی، پژوهشی و فرهنگی تشکیل شده است. این انجمن در اولین دوره ی خود در سال تحصیلی 86-85 شروع به فعالیت کرده است و تاکنون در زمینه های مختلف علمی، پژوهشی، فناوری و فرهنگی فعالیت های گوناگونی را از جمله برگزاری همایش ها، کارگاه ها ، کلاس ها ، دوره های آموزشی حضوری و غیر حضوری ، جشن ها و ... انجام داده است. برای آشنایی بیشتر می توانید از قسمت فوتر سایت با عضویت در کانال تلگرام یا دنبال کردن صفحه ی رسمی اینستاگرام و کانال آپارات انجمن از برنامه های انجام شده و برنامه های آتی آن مطلع شوید.</p>

							</div>
						</div>
						
						<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
							<div class="lmp_thumb">
								<img src="{% static "assets/img/sirj.jpg" %}" class="img-fluid" alt="" />
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- ============================ About Detail ================================== -->
			
			<!-- ============================ partner Start ================================== -->

			<!-- ============================ partner End ================================== -->
			
			<!-- ============================ Students Reviews ================================== -->

			<!-- ============================ Students Reviews End ================================== -->
			
			<!-- ============================ Call To Action ================================== -->

			<!-- ============================ Call To Action End ================================== -->
			
			{% endblock %}