{% load static %}
<html lang="fa">

{% include "include/head.html" %}

<body class="blog-page" dir="rtl">

<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">

    <!-- ============================================================== -->
    <!-- Top header  -->
    <!-- ============================================================== -->
    <!-- Start Navigation -->
    {% include "include/Nevagation.html" %}
    <!-- ============================================================== -->
    <!-- Top header  -->
    <!-- ============================================================== -->

    <!-- ============================ Page Title Start================================== -->
    <section class="page-title gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">

                    <div class="breadcrumbs-wrap">
                        <h1 class="breadcrumb-title font-2">تماس با ما</h1>
                        <nav class="transparent">
                            <ol class="breadcrumb p-0">
                                <li class="breadcrumb-item"><a href="{% url "Home_app:Home" %}">خانه</a></li>
                                <li class="breadcrumb-item active theme-cl" aria-current="page">تماس با ما</li>
                            </ol>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- ============================ Page Title End ================================== -->

    <!-- ============================ Contact Detail ================================== -->
    <section>
        <div class="container">
            <div class="row align-items-start">
                <div class="col-xl-7 col-lg-6 col-md-12 col-sm-12">
                    <div class="form-group">
                        <h4>با ما در ارتباط باشید</h4>
                        <span>پیام بفرستید تا حد امکان پاسخگو خواهیم بود... </span>
                    </div>

                    <form method="post" id="post-form">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label>نام و نام خانوادگی</label>
                                    <input type="text" id="name" class="form-control" placeholder="نام و نام خانوادگی خود را وارد کنید..."/>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label>شماره تلفن</label>
                                    <input type="text" id="phone" class="form-control" placeholder="شماره تلفن خود را وارد کنید..."/>
                                </div>
                            </div>

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label>متن درخواست</label>
                                    <textarea type="text" id="body" class="form-control summernote" placeholder="درخواست خود را وارد کنید..."></textarea>
                                </div>
                            </div>


                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    {{ form.captcha }}
                                </div>
                            </div>

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <button class="btn theme-bg text-white btn-md" type="submit">ارسال پیام</button>
                                </div>
                            </div>
                        </div>


                    </form>


                </div>

                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                    <div class="lmp_caption pr-lg-5">
                        <ol class="list-unstyled p-0">
                            <li class="d-flex align-items-start my-3 my-md-4">
                                <div class="rounded-circle p-3 p-sm-4 d-flex align-items-center justify-content-center theme-bg-light">
                                    <div class="position-absolute theme-cl h5 mb-0"><i class="fas fa-home"></i></div>
                                </div>
                                <div class="mr-3 mr-md-4">
                                    <h4>آدرس ما</h4>
                                    <p>
                                        استان کرمان،شهرستان سیرجان<br>دانشگاه صنعتی سیرجان<br>ساختمان کلاس ها،طبقه دوم،انجمن علمی کامپیوتر
                                    </p>
                                </div>
                            </li>
                            <li class="d-flex align-items-start my-3 my-md-4">
                                <div class="rounded-circle p-3 p-sm-4 d-flex align-items-center justify-content-center theme-bg-light">
                                    <div class="position-absolute theme-cl h5 mb-0"><i class="fas fa-at"></i></div>
                                </div>
                                <div class="mr-3 mr-md-4">
                                    <h4>پست الکترونیکی</h4>
                                    <p>
                                        mahdiramazani@yahoo.com<br>mahdiramazanii.official@gmail.com
                                    </p>
                                </div>
                            </li>
                            <li class="d-flex align-items-start my-3 my-md-4">
                                <div class="rounded-circle p-3 p-sm-4 d-flex align-items-center justify-content-center theme-bg-light">
                                    <div class="position-absolute theme-cl h5 mb-0"><i
                                            class="fas fa-phone-alt rotate-img"></i></div>
                                </div>
                                <div class="mr-3 mr-md-4">
                                    <h4>شماره های تماس</h4>
                                    <p>
                                        09910765749
                                        <br>
                                        09011612090
                                    </p>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ============================ Contact Detail ================================== -->

    <!-- ============================ map Start ================================== -->
    <section class="p-0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d12964.035018914681!2d51.37892281675605!3d35.67678642487583!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfa!2s!4v1659772013337!5m2!1sfa!2s"
                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
    <div class="clearfix"></div>
    <!-- ============================ map End ================================== -->

    <!-- ============================ Call To Action ================================== -->

    <!-- ============================ Call To Action End ================================== -->

    <!-- ============================ Footer Start ================================== -->
    {% include "include/footer.html" %}
    <!-- ============================ Footer End ================================== -->

    <!-- Log In Modal -->
    {% include "include/login.html" %}

    <a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>


</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static "assets/js/jquery.min.js" %}"></script>
<script src="{% static "assets/js/popper.min.js" %}"></script>
<script src="{% static "assets/js/bootstrap.min.js" %}"></script>
<script src="{% static "assets/js/select2.min.js" %}"></script>
<script src="{% static "assets/js/slick.js" %}"></script>
<script src="{% static "assets/js/moment.min.js" %}"></script>
<script src="{% static "assets/js/daterangepicker.js" %}"></script>
<script src="{% static "assets/js/summernote.min.js" %}"></script>
<script src="{% static "assets/js/metisMenu.min.js" %}"></script>
<script src="{% static "assets/js/custom.js" %}"></script>


<script>


    $(document).on('submit', '#post-form', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "CountactByMe_app:contact" %}',
            data: {

                body: $('#body').val(),
                phone: $('#phone').val(),
                name: $('#name').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
            },

            success: function (json) {
                document.getElementById("post-form").reset();
                Swal.fire(
                    'در اسرع وقت پاسخگوی شما خوایم بود !',
                    json["response"],
                    'success'
                )
            },


        })
    });


</script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->

</body>

</html>